<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSON Server</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <main class="dFlex">
      <section class="sideBar bgStyleSides">
        <nav>
          <div class="logoBox dFlex">
            <span class="logo">{}</span>
            <span class="logoText">JSON Server</span>
          </div>
          <div class="horizotalLine"></div>
          <div class="menu">
            <ul>
              <li class="active">GET</li>
              <li>POST</li>
              <li>PUT</li>
              <li>DELETE</li>
              <li>PATCH</li>
            </ul>
          </div>
        </nav>
      </section>
      <section class="mainContent bgStyleSides">
        <div class="mainHeader">
          Following APIs are available for GET method
        </div>
        <div class="mainApis">
          <pre> https://localhost:27363/api_1 </pre>
          <pre> https://localhost:27363/api_1 </pre>
          <pre> https://localhost:27363/api_1 </pre>
          <pre> https://localhost:27363/api_1 </pre>
        </div>
      </section>
    </main>
  </body>
</html>
